In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Making of Series

In [ ]:
# Here we are going to study about pandas series

In [3]:
import pandas as pd

In [5]:
# to check tha pandas version
pd.__version__

'2.2.3'

# Series

Normal method for series creation

In [6]:
list_s = [1,2,3,-2,-4,9.4,56.5,'Data values']
print(list_s)

[1, 2, 3, -2, -4, 9.4, 56.5, 'Data values']

In [7]:
# now we create series
series1 = pd.Series(list_s)
print(series1)

# jab humne yaha par series ka use kiya to humko sarey data with index print hua 
# first column index value and second column data value

0              1
1              2
2              3
3             -2
4             -4
5            9.4
6           56.5
7    Data values
dtype: object

In [8]:
print(type(series1))

<class 'pandas.core.series.Series'>

# Short Method 

short method for series creation

In [4]:
# the series created with short method
series2 = pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

# Empty series

In [5]:
# empty series is created 
empty_s =  pd.Series([]) # empty series jo hamari create hoti hai wo yek list ka formate hota hai 
print(empty_s)

Series([], dtype: object)

In [5]:
# the series index are default index we can change the index

# series ka index permanent nahi hota hai we can change the index
# hum existing series ko copy karenge aur usme some changes karenge "index = ['a','b','c','d'])" this is the major changes index ka use karke hum index chnage kar sakte hai  
# hum index tag ka use karke hum index ko apne according chnage kar skate hai 
series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
# change thhe data type and change in to float 

series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'],dtype =  float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

# colum name 

means give the column name of data value

In [10]:
series3 = pd.Series([1,2,3,4],index = ['a','b','c','d'],dtype =  float,name = 'data values')
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

# Scaler 

series created with the single values

In [11]:
# abhi tak jo humne series create kiya hai wo with the help of list se kiya hai 
# Now we create a series with scaler values

In [13]:
scaler_s = pd.Series(0.5)
print(scaler_s) # here a single scaler values with single values

0    0.5
dtype: float64

In [14]:
# multi scaler value with single values 

scaler_s = pd.Series(0.5 , index = [1,2,3,4,5])
print(scaler_s)

# here are the multiple value with single values

1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
dtype: float64

# Dictionary 

A series created with the help of dictionary

In [17]:
# Dictionary ka use karke bhi hum series bana sakte hai 

dict_s = pd.Series({'a':1,'b':2})
print(dict_s)

# Here the series are printed with the help of Dictionary

a    1
b    2
dtype: int64

In [4]:
# Humko agar series se koi bhi value ko acces karna hai to  ye function ka use karenge 

s4 = pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# ab isme se agar humko koi value ko access karna hai to hum series ka index dalenge to uska value humko milega 

s4[2]

3

In [22]:
s4[4] # jab hum index ko likhenge to humko data output milega

5

# Slice 

slice operator ka use karke hum series ko sllice bhi kar sakte hai

In [23]:
s4[0:3] # yaha par values silice ho gai hai

0    1
1    2
2    3
dtype: int64

# max and min

series me hum max and min function ka use karke max and value find out kar sakte hai

In [25]:
max(s4)

5

In [26]:
min(s4)

1

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [6]:
# if we want greater then value then we use condition operator 

s4[s4>3]

3    4
4    5
dtype: int64

# Addition Subs  and Multi

In [8]:
# Here we doing the addition of two series

In [10]:
# First we have two create two cells s5 and s6

s5 = pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
s6 = pd.Series([1,2,3,4,5])
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s4+s5 # here both the series is added 

# isi tareeke se hum addition , multiplication ,and subsctraction bhi kar saakte hai 

s5-s6

s5*s6

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [15]:
# unequal data value in two series

In [17]:
# new serie s7 

s7 = pd.Series([1,2,3,4,5,6,7])
print(s7)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [19]:
# addition with un equal data 
s6+s7  

# pandas ke andar missing values ko bhi ye handle karta hai 

# ye null value ko return karta hai jaha value nahi hota hai

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
5     NaN
6     NaN
dtype: float64