## Pandas loc and iloc

#### pandas loc

In [1]:
# Access a group of rows and columns by label(s) or a boolean array 
# loc method ka use karke hum data frame me unke column ko labels se access kar sakte hai

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('C:\\Users\\Admin\\Downloads\\student data.csv')
df

   Student ID  Class  Study hrs  Social Media Usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60
3        1004     11          0                       1          45
4        1005     12          5                       2          75

In [6]:
# now we apply loc method

In [8]:
df.loc[0] # zero label dene ke baad 0 ke andar zitni bhi details thi wo show ho gai with theor column name

Student ID                1001
Class                       10
Study hrs                    2
Social Media Usage hrs       3
Percantege                  50
Name: 0, dtype: int64

In [10]:
df.loc[2]

Student ID                1003
Class                       10
Study hrs                    3
Social Media Usage hrs       2
Percantege                  60
Name: 2, dtype: int64

In [11]:
# if humko multiplle talble chaiye to hum is function ka use karenge 
df.loc[[0,1,2]]

   Student ID  Class  Study hrs  Social Media Usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60

In [15]:
# if we need any specific value from the column then we use this function 
df.loc[4,'Percantege']

np.int64(75)

In [16]:
# slice operator if we want to slice any value from the particular column then we use this operator

In [18]:
df.loc[0:3,"Class"]

0    10
1    10
2    10
3    11
Name: Class, dtype: int64

In [19]:
# we also use conditional operator 
df.loc[df['Class']<11] # if we want less then 11 value from them class column then we use this operator

   Student ID  Class  Study hrs  Social Media Usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80
2        1003     10          3                       2          60

In [20]:
df.loc[df['Class']<11,['Percantege']] # if we want less then 11 value from them Percantege , Class  column then we use this operator

   Percantege
0          50
1          80
2          60

#### pandas iloc

In [21]:
# pandas iloc integer location based indexing hota hai

In [22]:
# i loc me unko hum excess kar skate hai unke number se 
# we use iloc to perform data selecting operaion

In [28]:
# indexing
df.iloc[0]

Student ID                1001
Class                       10
Study hrs                    2
Social Media Usage hrs       3
Percantege                  50
Name: 0, dtype: int64

In [27]:
# slicing
df.iloc[:,0] # is result ko hum sirf iloc ka use karke he kar sakte hai 
              # if we use loc then showing error

0    1001
1    1002
2    1003
3    1004
4    1005
Name: Student ID, dtype: int64

In [29]:
# list of labels
df.iloc[[0,1]]

   Student ID  Class  Study hrs  Social Media Usage hrs  Percantege
0        1001     10          2                       3          50
1        1002     10          6                       2          80