## Pandas append

In [1]:
# Pandas Append  Function ----- pandas append function is used to append rpws of other DataFrameto the 
#                               end of the given DataFrame,Returning a new DataFrame object

In [3]:
# Pandas append function ka use ayek DataFrame se kisi Dusre DataFrame ke  rows ko add karne ke liye hota hai 
# And is  function ka use karne par naya Data Frame object Return karta hai

In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'A':[1,2,3],
                   'B':[10,20,30]})

df2 = pd.DataFrame({'A':[4,5,6],
                   'B':[40,50,60]})

display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   A   B
0  4  40
1  5  50
2  6  60

In [10]:
# now we append the dataframe with the help of append function

#### Append Function

In [8]:
 df1.append(df1)