## Pandas date time index

In [1]:
#  pandas date time index ------ in this how we change date column in to datetimeindex

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("C:\\Users\\Admin\\Documents\\Startups Data.csv")
df

          Date  R and D Spend  Marketing Spend    Profit
0   01-07-2019       165349.0         136897.0  192261.0
1   02-07-2019       133848.0         151377.0  191792.0
2   03-07-2019       153441.0         327468.0  191050.0
3   04-07-2019       147372.0          63338.0  182901.0
4   05-07-2019       142107.0          91391.0  166187.0
5   08-07-2019       131876.0          99814.0  155991.0
6   09-07-2019       134815.0         147198.0  156122.0
7   10-07-2019       130288.0         145530.0  155752.0
8   11-07-2019       120542.0         148718.0  152211.0
9   12-07-2019       123334.0         108679.0  149759.0
10         NaN            NaN              NaN       NaN
11         NaN            NaN              NaN       NaN

In [8]:
# Check type of date
df.dtypes

Date                object
R and D Spend      float64
Marketing Spend    float64
Profit             float64
dtype: object

In [10]:
type(df.Date[0])
# here the type of date is string so we have to change this into datetimeindex

str

In [12]:
df = pd.read_csv("C:\\Users\\Admin\\Documents\\Startups Data.csv",parse_dates = ['Date'])
df

         Date  R and D Spend  Marketing Spend    Profit
0  2019-01-07       165349.0         136897.0  192261.0
1  2019-02-07       133848.0         151377.0  191792.0
2  2019-03-07       153441.0         327468.0  191050.0
3  2019-04-07       147372.0          63338.0  182901.0
4  2019-05-07       142107.0          91391.0  166187.0
5  2019-08-07       131876.0          99814.0  155991.0
6  2019-09-07       134815.0         147198.0  156122.0
7  2019-10-07       130288.0         145530.0  155752.0
8  2019-11-07       120542.0         148718.0  152211.0
9  2019-12-07       123334.0         108679.0  149759.0
10        NaT            NaN              NaN       NaN
11        NaT            NaN              NaN       NaN

In [15]:
# now again check the type 
df.dtypes

# hence date is  changed in to datetimeindex

Date               datetime64[ns]
R and D Spend             float64
Marketing Spend           float64
Profit                    float64
dtype: object

In [16]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp